<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/youshixiu/CherryTV/master/CherryTV_20160116.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/youshixiu/CherryTV/master/largeImage.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/youshixiu/CherryTV/master/smallImage.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cn.vlang.GameShow</string>
				<key>bundle-version</key>
				<string>2</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>樱桃TV</string>
				<key>title</key>
				<string>樱桃TV</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
